.navContainer {
	align-items: center;
	background-color: #bbb;
	display: flex;
	padding: 6px;
	position: sticky;
	top: 0;
}

.backButton {
	left: 4px;
	position: absolute;
}

.recipeTitle {
	font-weight: bold;
	margin: 0 auto;
}

.recipeContainer {
	padding: 6px 12px;
}

.recipeTextContainer {
	display: flex;
	margin-top: 25px;
}

.ingredients {
	border-right: 1px dashed #ccc;
	padding: 0 8px;
}

.instructions {
	padding: 0 16px;
}

.screenLockStatus {
	background: lightgreen;
	bottom: 5px;
	display: inline-flex;
	font-size: 12px;
	left: 5px;
	padding: 0 4px;
	position: fixed;

	&.isError {
		background: palevioletred;
	}
}
