.navContainer {
	align-items: center;
	background-color: #ddd;
	display: flex;
	padding: 6px;
	position: relative;
}

.backButton {
	left: 4px;
	position: absolute;
}

.recipeTitle {
	font-weight: bold;
	margin: 0 auto;
}

.recipeContainer {
	padding: 6px 12px;
}

.screenLockStatus {
	background: lightgreen;
	bottom: 5px;
	display: inline-flex;
	font-size: 12px;
	padding: 0 4px;
	position: fixed;
	right: 5px;

	&.isError {
		background: palevioletred;
	}
}
